@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply overflow-y-scroll;
	}
	html {
		@apply font-Inconsolata;
	}
	h1 {
		@apply text-3xl;
	}

	li {
		@apply cursor-pointer;
	}

	a {
		@apply text-white cursor-pointer;
	}

	.hover-underline {
		display: inline-block;
		position: relative;
		color: #fff;
		cursor: pointer;
	}

	.hover-underline:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: -2px;
		left: 0;
		background-color: #fff;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.hover-underline:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
